:root {
	--clr-neutral-100: hsla(330, 11%, 35%, 0.247);
	--bg-primary: var(--clr-neutral-100);

	--gap-size: 1rem;
}

body {
	background-color: var(--bg-primary);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		Helvetica,
		sans-serif;
	font-size: 1rem;
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
	max-width: 76ch;
	margin-inline: auto;
	padding: var(--gap-size);
}

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

h1,
h2,
h3 {
	text-wrap: balance;
	line-height: 120%;
}

p {
	text-wrap: pretty;
}

img {
	display: block;
	margin-block: calc(var(--gap-size) * 2);
}

img,
pre {
	max-width: 100%;
	box-shadow: 5px 5px 10px rgba(1, 22, 39, 0.7);
}

ol {
	padding-inline-start: var(--gap-size);
}

ol li {
	padding-block-end: var(--gap-size);
}

pre {
	background-color: rgba(119, 136, 153, 0.096);
	border: solid 3px hsla(0, 0%, 0%, 0.082);
	overflow: auto;
	line-height: 140%;
	padding: calc(var(--gap-size) / 2);
	margin-block-start: calc(var(--gap-size) / 2);
	margin-block-end: calc(var(--gap-size) * 2);
	font-weight: 600;
}

pre.command-line {
	background-color: rgba(61, 103, 145, 0.137);
}
